# Prerequisites
*.d
bin
obj
.vs/
# Compiled Object files
*.slo
*.lo
*.o
*.obj
Morphing/build-lab1-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
